<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="#" class="enlace">
        <img src="../../../../assets/img/logo-removebg-preview.png" alt="" class="logo" width="200px" height="120px">
    </a>
    <ul>
        <li><a  class="active">Inicio</a></li>
        <li><a routerLink="/inventario/categorias_l">Categorias</a></li>
        <li><a routerLink="/inventario/listar">Productos</a></li>
        <li><a href="#" class="noactive">Cerrar sesion</a></li>
    </ul>
</nav>
