<app-ventas>
    <!--<nav>
        
    </nav>-->
    <main>
        <span class="bienvenida"> 
            <h1>BIENVENIDOS</h1>
            <p>NUESTRA FARMACIA ESTA CONFORMADA CON VARIOS ARTICULOS</p>
        </span>
        <span class="opciones">
            <a routerLink="/ventas/registro" >
                <div class="tarjetas">
                    <h4>REGISTRAR CLIENTE</h4>
               </div>
            </a>
            <a routerLink="/ventas/cliente" >
                <div class="tarjetas">
                    <h4>BUSCAR CLIENTE</h4>
               </div>
            </a>               
           
        </span>       
    </main>
    <!--<footer></footer>-->
</app-ventas>
