<app-nav></app-nav>
<app-footer></app-footer>

<div class="contenedor">
  <div class="contenedor2">
    <div class="elemento1">
      <div class="titulos">
        <h2>Registro de Categorias</h2>
      </div><br>
      <form action="" class="formulario" > 
        <input [(ngModel)]="registro.especializacion" name="esp" type="text" class="input" placeholder="especialización"><br><br>
        <input (click)="registroC(registro)" type="submit" name="boton" id="boton" value="guardar" class="boton">
      </form>
    </div>

  </div>
</div>